@tailwind base;
@tailwind components;
@tailwind utilities;

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

body {
  background-color: #09090b; /* bg-zinc-950 */
  color: #f4f4f5; /* text-zinc-100 */
}
